.piece{
    image-rendering: auto;
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background-size: 100%;
    left: 0;
    top: 0;
    margin: 0;
}

.piece:hover{
    cursor:grab;
}

.piece:active{
    cursor: grabbing;
}

.bB{
    background-image: url('../assets/pieces/bb.png');
}

.bK{
    background-image: url('../assets/pieces/bk.png');
}

.bN{
    background-image: url('../assets/pieces/bkn.png');
}

.b{
    background-image: url('../assets/pieces/bp.png');
}

.bQ{
    background-image: url('../assets/pieces/bq.png');
}

.bR{
    background-image: url('../assets/pieces/br.png');
}

.wB{
    background-image: url('../assets/pieces/wb.png');
}

.wK{
    background-image: url('../assets/pieces/wk.png');
}

.wN{
    background-image: url('../assets/pieces/wkn.png');
}

.w{
    background-image: url('../assets/pieces/wp.png');
}

.wQ{
    background-image: url('../assets/pieces/wq.png');
}

.wR{
    background-image: url('../assets/pieces/wr.png');
}

