.game{
    display: flex;
    overflow: hidden;
    border-style: solid;
    border-color: red;
    min-height: 85vh;
    max-height: 85vh;
    min-width: 65vw;
}

#root{ 
    display: flex;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(48, 49, 51);
}

.board{
    position: relative;
    border-radius: 8px;
    margin-top: 4vh;
    margin-left: 7%;
    aspect-ratio: 1/1;
    height: 90%;
    background-size: 100%;
    image-rendering: pixelated;
    background-image: url('../assets/board.png');
}

/* .board:after{
    content: '';
    display: block;
    padding-bottom: 100%;
} */

.navBar{
    display: grid;
    min-width: 100px;
    width: 10%;
    border-style: solid;
}

.gameInfo{
    width: 100%;
    margin: 30px;
    display: grid;
}




